<header class="main-bar" style="background: #fff;">
    <div class="header">
        <div class="container">
            <div class="row row-ibl mid col-mar-0">
                <div class="col-md-3 col-xs-12 sm-center">
                    <div style="display: none;" class="sidebar" id="left-sidebar">
                        <div class="sidebar-header">
                            <a id="left-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li><a class="list-group-item smooth" href="/admin/customer-info" title=""> <i
                                            class="fas fa-bell"></i>
                                        Thông tin khách hàng</a></li>
                                {{#if change}}
                                <li><a class="list-group-item smooth" href="/admin/edit/{{pageName}}" title=""> <i
                                            class="fas fa-edit"></i>
                                        Chỉnh sửa trang</a></li>
                                {{/if}}

                                <li><a class="list-group-item smooth" href="/users/changePassword" title=""> <i
                                            class="fas fa-key"></i>
                                        Đổi mật khẩu</a></li>
                                <li><a class="list-group-item smooth" href="/users/logout" title=""> <i
                                            class="fas fa-sign-out-alt"></i>
                                        Đăng xuất</a></li>

                            </ul>
                        </div>
                    </div>
                    <div style="display: none;" class="sidebar" id="right-sidebar">
                        <div class="sidebar-header">
                            <a id="right-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li>
                                    <a id="collapse-btn1" class="list-group-item">VỀ NAM THỊNH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse1" class="list-group">
                                        <li class="list-group-item"><a href="/admin/introduction">Giới thiệu</a></li>
                                        <li class="list-group-item"><a href="/admin/contact" class="">Liên hệ</a></li>
                                    </ul>

                                </li>
                                <li><a id="collapse-btn3" class="list-group-item">SẢN PHẨM
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse3" class="list-group">
                                        <li class="list-group-item">
                                            <a href="" class="">Lốp Advance/Samson</a>
                                        </li>
                                        <li class="list-group-item"><a href="">Xe tải/Đầu kéo/Xe ben</a></li>
                                        <li class="list-group-item"><a href="">Phụ tùng ô tô</a></li>
                                        <li class="list-group-item"><a href="" class="">Dầu nhớt</a></li>
                                    </ul>
                                </li>
                                <li><a href="/admin/discount" class="list-group-item">KHUYẾN MÃI</a></li>
                                <li>
                                    <a id="collapse-btn2" class="list-group-item">CHÍNH SÁCH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse2" class="list-group">
                                        <li class="list-group-item"><a href="/admin/">Chính sách giao hàng</a></li>
                                        <li class="list-group-item"><a href="/admin/">Chính sách đại lý</a></li>
                                        <li class="list-group-item"><a href="/admin/">Chính sách cộng tác viên</a></li>
                                        <li class="list-group-item"><a href="/admin/">Chính sách bảo hành</a></li>
                                    </ul>
                                </li>
                                <li><a class="list-group-item">SHOWROOM</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="header-bars">
                        <a id="bar-btn-left" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>

                        <a id="logo" href="/" title="">
                            <img src="/img/logo.png" alt="" title="" />
                        </a>
                        <a id="bar-btn-right" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>
                    </div>


                </div>



                <div class="col-md-9 col-xs-12 sm-center header-content">
                    <div class="nav-top">
                    </div>

                    <div class="nav-bottom admin-nav">
                        <form class="form-inline my-2 my-lg-0 ">
                            {{#isAdmin position}}
                            <a class="smooth mr-2 ml-2" href="/admin/product-manager/1"> <i class="fas fa-tasks"></i>
                                Quản lý nhân viên
                            </a>
                            <a class="smooth mr-2 ml-2" href="/admin/product-manager/1"> <i class="fas fa-tasks"></i>
                                Quản lý sản phẩm
                            </a>
                            <a class="smooth mr-2 ml-2" href="/admin/customer-info"> <i class="fas fa-users"></i>
                                Thông tin khách hàng
                            </a>
                            <a class="smooth mr-2 ml-2" href="/admin/create-order"> <i class="fas fa-plus"></i>
                                Tạo đơn hàng
                            </a>
                            {{/isAdmin}}
                            {{#isSale position}}
                            <a class="smooth mr-2 ml-2" href="/admin/product-manager/1"> <i class="fas fa-tasks"></i>
                                Quản lý sản phẩm
                            </a>
                            <a class="smooth mr-2 ml-2" href="/admin/customer-info"> <i class="fas fa-users"></i>
                                Thông tin khách hàng
                            </a>
                            <a class="smooth mr-2 ml-2" href="/admin/create-order"> <i class="fas fa-plus"></i>
                                Tạo đơn hàng
                            </a>
                            {{/isSale}}

                            {{#isAccountant position}}
                            <a class="smooth mr-2 ml-2" href="/admin/add-product"> <i class="fas fa-plus"></i>
                                Thêm sản phẩm
                            </a>
                            {{/isAccountant}}

                            {{#if change}}
                            <a class="smooth mr-2 ml-2" href="/admin/edit/{{pageName}}"> <i class="fas fa-edit"></i>
                                Chỉnh sửa trang
                            </a>
                            {{/if}}
                            <a class="smooth mr-2 ml-2 user-info" href=""> <i class="fas fa-user"></i>
                                {{position}}
                            </a>
                            <ul class="user-dropDown">
                                <li>
                                    <a class="smooth mr-2 ml-2" href="/admin/changePassword"> <i class="fas fa-key"></i>
                                        Đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                    <a class="smooth mr-2 ml-2" href="/users/logout"> <i
                                            class="fas fa-sign-out-alt"></i>
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</header>