<header class="main-bar" style="background: #fff;">
    <div class="header">
        <div class="container">
            <div class="row row-ibl mid col-mar-0">
                <div class="col-md-3 col-xs-12 sm-center">
                    <div style="display: none;" class="sidebar" id="left-sidebar">
                        <div class="sidebar-header">
                            <a id="left-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li><a class="list-group-item smooth" href="/admin/customer-info" title=""> <i
                                            class="fas fa-bell"></i>
                                        Thông tin khách hàng</a></li>
                                {{#if change}}
                                <li><a class="list-group-item smooth" href="/admin/edit/{{pageName}}" title=""> <i
                                            class="fas fa-edit"></i>
                                        Chỉnh sửa trang</a></li>
                                {{/if}}
                                <li><a class="list-group-item smooth" href="/admin/changePassword" title=""> <i
                                            class="fas fa-key"></i>
                                        Đổi mật khẩu</a></li>
                                <li><a class="list-group-item smooth" href="/admin/logout" title=""> <i
                                            class="fas fa-sign-out-alt"></i>
                                        Đăng xuất</a></li>

                            </ul>
                        </div>
                    </div>
                    <div style="display: none;" class="sidebar" id="right-sidebar">
                        <div class="sidebar-header">
                            <a id="right-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li>
                                    <a id="collapse-btn1" class="list-group-item">VỀ NAM THỊNH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse1" class="list-group">
                                        <li class="list-group-item"><a href="/admin/introduction">Giới thiệu</a></li>
                                        <li class="list-group-item"><a href="/admin/contact" class="">Liên hệ</a></li>
                                    </ul>

                                </li>
                                <li><a id="collapse-btn3" class="list-group-item">SẢN PHẨM
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse3" class="list-group">
                                        <li class="list-group-item">
                                            <a href="" class="">Lốp Advance/Samson</a>
                                        </li>
                                        <li class="list-group-item"><a href="">Xe tải/Đầu kéo/Xe ben</a></li>
                                        <li class="list-group-item"><a href="">Phụ tùng ô tô</a></li>
                                        <li class="list-group-item"><a href="" class="">Dầu nhớt</a></li>
                                    </ul>
                                </li>
                                <li><a href="/admin/discount" class="list-group-item">KHUYẾN MÃI</a></li>
                                <li>
                                    <a id="collapse-btn2" class="list-group-item">CHÍNH SÁCH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse2" class="list-group">
                                        <li class="list-group-item"><a href="/admin/">Chính sách giao hàng</a></li>
                                        <li class="list-group-item"><a href="/admin/">Chính sách đại lý</a></li>
                                        <li class="list-group-item"><a href="/admin/">Chính sách cộng tác viên</a></li>
                                        <li class="list-group-item"><a href="/admin/">Chính sách bảo hành</a></li>
                                    </ul>
                                </li>
                                <li><a class="list-group-item">SHOWROOM</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="header-bars">
                        <a id="bar-btn-left" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>

                        <a id="logo" href="/" title="">
                            <img src="/img/logo.png" alt="" title="" />
                        </a>
                        <a id="bar-btn-right" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>
                    </div>


                </div>



                <div class="col-md-9 col-xs-12 sm-center header-content">
                    <div class="nav-top">
                    </div>

                    <div class="nav-bottom admin-nav">
                        <form class="form-inline my-2 my-lg-0 ">
                            <a class="smooth mr-2 ml-2" href="/admin/customer-info"> <i class="fas fa-bell"></i>
                                Thông tin khách hàng
                            </a>
                            {{#if change}}
                            <a class="smooth mr-2 ml-2" href="/admin/edit/{{pageName}}"> <i class="fas fa-edit"></i>
                                Chỉnh sửa trang
                            </a>
                            {{/if}}
                            <a class="smooth mr-2 ml-2" href="/admin/changePassword"> <i class="fas fa-key"></i>
                                Đổi mật khẩu
                            </a>
                            <a class="smooth mr-2 ml-2" href="/admin/logout"> <i class="fas fa-sign-out-alt"></i>
                                Đăng xuất
                            </a>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</header>
<nav class="navbar2">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/"><i style="font-size: 20px;" class="fas fa-home"></i></a></li>
            <li class="navbar-item">
                <a href="">Về Nam Thịnh <i class="fas fa-angle-down"></i></a>

                <ul class="navbar-menu">
                    <li class="navbar-menu-item">
                        <a href="/admin/introduction">Giới thiệu</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="/admin/contact">Liên hệ</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-item">
                <a href="">Sản phẩm <i class="fas fa-angle-down"></i></a>
                <ul class="navbar-menu">
                    <li class="navbar-menu-item">
                        <a href="">Lốp Advance/Samson</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Lốp máy công trình</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="LMCT" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Lốp xe tải hạng nặng</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp máy xúc</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp xe cẩu</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp xe lu</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Lốp xe công nghiệp</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="LMCT" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Lốp đặc</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp công nghiệp khí nén</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Lốp nông nghiệp</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="LMCT" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Lốp nông nghiệp nhỏ</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp nông nghiệp lớn</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Xe tải/ đầu kéo / xe ben</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Xe tải thùng</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe đầu kéo</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe ben</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Sơ mi rơ móc</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Phụ tùng ô tô</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Xe tải thùng</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe đầu kéo</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe ben</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Sơ mi rơ móc</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Dầu nhớt</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Dầu nhớt ô tô / xe máy</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="DN" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Dầu động cơ</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu hợp số</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu láp</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Dầu nhớt công nghiệp</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="DN" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Dầu đa năng</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu bôi trơn</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu thủy lực</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li class="navbar-item">
                <a href="">Khuyến mãi</a>
            </li>
            <li class="navbar-item">
                <a href="">Chính sách <i class="fas fa-angle-down"></i></a>
                <ul class="navbar-menu" style="width: 280px">
                    <li class="navbar-menu-item">
                        <a href="">Chính sách giao hàng</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Chính sách đại lý</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Chính sách cộng tác viên</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Chính sách bảo hành</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-item"><a href="">Showroom</a></li>
        </ul>
    </div>
</nav>