<!-- Footer -->
<footer style="background-color: rgb(7, 50, 129);" class="text-center text-lg-start text-muted">

    <!-- Section: Links  -->
    <section class="about-us py-1">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> NAM THỊNH
                    </h6>
                    <p>
                        CÔNG TY TNHH ĐẦU TỬ VÀ THƯƠNG MẠI DỊCH VỤ NAM THỊNH
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Giới thiệu
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Về chúng tôi</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách giao hàng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách đại lý</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách cộng tác viên</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách bảo hành</a>
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sản phẩm
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Lốp Xe</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Xe Đầu Kéo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Phụ Tùng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nhớt Xe</a>
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Liên hệ
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Địa chỉ: 2290 QL1A, Phường Trung Mỹ Tây, Quận 12, TP HCM</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Email: thuongmainamthinh@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> Hotline: 0903 957 857</p>
                    {{!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> --}}
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>

        <div class="text-center p-4" style="color: white">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">SUDTechnology</a>
        </div>
    </section>
    <!-- Section: Links  -->
</footer>


<!-- Footer -->