<!-- Footer -->
<footer style="background-color: #1F1D36;" class="text-center text-lg-start text-muted">

    <!-- Section: Links  -->
    <section class="about-us py-1">
        <div class="container text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-left">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Giới thiệu
                    </h6>
                    <p>
                        ..................... là một công ty chuyên về các loại lốp
                        xe......
                    </p>

                    <hr>
                    <hr>
                    <p><i class="fas fa-home me-3"></i> Địa chỉ: 2290 QL1A, Phường Trung Mỹ Tây, Quận 12, TP HCM</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Email: thuongmainamthinh@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> Hotline: 0903 957 857</p>
                </div>
                <!-- Grid column -->

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-left">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sản phẩm
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Lốp Xe</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Xe Đầu Kéo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Phụ Tùng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nhớt Xe</a>
                    </p>

                    <h6 class="text-uppercase fw-bold mt-4 mb-4">
                        Chính sách
                    </h6>

                    <p>
                        <a href="#!" class="text-reset">Chính sách giao hàng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách đại lý</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách cộng tác viên</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách bảo hành</a>
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-left">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Đăng ký nhận tin
                    </h6>
                    <form>
                        <div class="form-group">
                            <input name="message" type="email" class="form-input" placeholder="Nhập email của bạn">
                        </div>
                        <a class="h5" href="" type="submit">click vào đây để đăng ký nhận tin</a>
                    </form>
                    <h6 class="text-uppercase fw-bold mt-4 mb-4">
                        Kết nối với Nam Thịnh
                    </h6>
                    <p class="d-flex justify-content-center">
                        <a href="#!" class="text-reset mr-2"><i class="fab fa-facebook"></i></a>
                        <a href="#!" class="text-reset mr-2"><i class="fab fa-youtube"></i></a>
                        <a href="#!" class="text-reset mr-2"><i class="fab fa-twitter"></i></a>
                    </p>
                    <p>
                        <img src="/img/thongbaobocongthuong.png" alt="">
                    </p>

                </div>
                <!-- Grid column -->


                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <div class="fb-page" data-href="https://www.facebook.com/vantainamthinh.vn" data-tabs="timeline"
                        data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                        data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/vantainamthinh.vn" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/vantainamthinh.vn">Nam Thịnh - namthinh.com</a>
                        </blockquote>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>

        <div class="text-center p-4" style="color: white">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">SUDTechnology</a>
        </div>
    </section>
    <!-- Section: Links  -->
</footer>


<!-- Footer -->