<!-- Footer -->
<footer style="background-color: #1F1D36;" class="text-center text-lg-start text-muted">

    <!-- Section: Links  -->
    <section class="about-us py-1">
        <div class="container text-md-start mt-5">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-12 mx-auto mb-4 text-left">
                    <!-- Content -->
                    <h6 class="footer-item text-uppercase fw-bold">
                        Địa chỉ chi nhánh
                    </h6>
                    <hr>
                    <div class="row">
                        <div class="brand-address col-md-3">
                            <p class="mb-2 text-uppercase fw-bold">
                                <i class="fas fa-map-marker"></i> TP Hồ Chí Minh
                            </p>
                            <p><i class="fas fa-home me-3"></i> Địa chỉ: 2290 QL1A, Phường Trung Mỹ Tây, Quận 12, TP HCM
                            </p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                Email: thuongmainamthinh@gmail.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> Hotline: 0903 957 857</p>
                        </div>

                        <div class="brand-address col-md-3">
                            <p class="mb-2 text-uppercase fw-bold">
                                <i class="fas fa-map-marker"></i> Phú Yên
                            </p>
                            <p><i class="fas fa-home me-3"></i> Địa chỉ: 149 Phan Đình Phùng, Phường 2, Thành phố Tuy
                                Hòa, Tỉnh Phú Yên
                            </p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                Email: thuongmainamthinh@gmail.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> Hotline: 0839 897897</p>
                        </div>

                        <div class="brand-address col-md-3">
                            <p class="mb-2 text-uppercase fw-bold">
                                <i class="fas fa-map-marker"></i> TP Hồ Chí Minh
                            </p>
                            <p><i class="fas fa-home me-3"></i> Địa chỉ: E9/187 Ấp 6, Xã Tân Nhật, Huyện Bình Chánh, TP
                                HCM
                            </p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                Email: thuongmainamthinh@gmail.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> Hotline: 0903 957 857</p>
                        </div>
                        <div class="brand-address col-md-3">
                            <p class="mb-2 text-uppercase fw-bold">
                                <i class="fas fa-map-marker"></i> An Giang
                            </p>
                            <p><i class="fas fa-home me-3"></i> Địa chỉ: 33 Nguyễn Tri Phương, Phường Vĩnh Mỹ, Thành phố
                                Châu Đốc, Tỉnh An Giang
                            </p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                Email: thuongmainamthinh@gmail.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> Hotline: 0903 957 857</p>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <div class="col-md-3 col-lg-3 col-xl-3 mb-4 mt-4 text-left">
                    <!-- Links -->
                    <h6 class="footer-item text-uppercase fw-bold mb-4">
                        Sản phẩm
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Lốp Xe</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Xe Đầu Kéo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Phụ Tùng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nhớt Xe</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mb-4 mt-4 text-left">
                    <!-- Links -->
                    <h6 class="footer-item text-uppercase fw-bold mb-4">
                        Chính sách
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Chính sách giao hàng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách đại lý</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách cộng tác viên</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách bảo hành</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-3 col-xl-3 mb-4 mt-4 text-left">
                    <!-- Links -->
                    <h6 class="footer-item text-uppercase fw-bold mb-4">
                        Kết nối với Nam Thịnh
                    </h6>
                    <p class="d-flex justify-content-center">
                        <a href="#!" class="text-reset mr-4"><i style="font-size: 28px;"
                                class="fab fa-facebook"></i></a>
                        <a href="#!" class="text-reset mr-4"><i style="font-size: 28px;" class="fab fa-youtube"></i></a>
                        <a href="#!" class="text-reset mr-4"><i style="font-size: 28px;" class="fab fa-twitter"></i></a>
                    </p>
                    <p>
                        <img src="/img/thongbaobocongthuong.png" alt="">
                    </p>
                </div>

                <!-- Grid column -->


                <!-- Grid column -->

                <!-- Grid column -->
                <div class="footer-map col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-3 mb-4">
                    <div class="fb-page" data-href="https://www.facebook.com/CTNAMTHINH" data-tabs="timeline"
                        data-width="" data-height="250" data-small-header="false" data-adapt-container-width="true"
                        data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/CTNAMTHINH" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/CTNAMTHINH">Nam Thịnh</a></blockquote>
                    </div>
                    {{!-- <iframe class="google-map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4965865265362!2d106.62206271397635!3d10.849784160804136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752a266f3fe537%3A0x74054a78ab89263d!2zMjI5MCBRTDFBLCBUcnVuZyBN4bu5IFTDonksIFF14bqtbiAxMiwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oIDcwMDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1659367891994!5m2!1svi!2s"
                        width="520" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe> --}}
                </div>
                <!-- Grid column -->

            </div>
        </div>
    </section>
    <!-- Section: Links  -->
</footer>


<!-- Footer -->