<header class="main-bar" style="background: #fff;">
    <div class="container">
        <div class="header">
            <div class="row row-ibl mid col-mar-0">
                <div class="col-md-3 col-xs-12 sm-center">
                    <div style="display: none;" class="sidebar" id="left-sidebar">
                        <div class="sidebar-header">
                            <a id="left-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">

                            <ul class="list-group">
                                {{!-- <li><a class="list-group-item smooth" href="/users/login" title=""> <i
                                            class="fas fa-user"></i> Đăng nhập</a></li> --}}
                                <li><a class="list-group-item smooth" href="/shopping-cart" title=""> <i
                                            class="fas fa-shopping-cart"></i>Giỏ hàng</a></li>
                            </ul>
                        </div>

                    </div>


                    <div style="display: none;" class="sidebar" id="right-sidebar">
                        <div class="sidebar-header">
                            <a id="right-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li><a class="list-group-item"><i class="fas fa-home"></i></a></li>
                                <li>
                                    <a id="collapse-btn1" class="list-group-item">VỀ NAM THỊNH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse1" class="list-group">
                                        <li class="list-group-item"><a href="/aboutus">Giới thiệu</a></li>
                                        <li class="list-group-item"><a href="/contact" class="">Liên hệ</a></li>
                                    </ul>

                                </li>
                                <li><a  class="list-group-item">SẢN PHẨM
                                        <i id="collapse-btn3" class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse3" class="list-group">
                                        {{!-- Product 1 --}}
                                        <li class="list-group-item">
                                            <a href="/collections/Lop-Advance-Samson-1" class="">Lốp Advance/Samson </a>
                                            <i id="pro-1" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-1-list">
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Lop-xe-tai-xe-khach-11">- Lốp xe tải - xe
                                                    khách</a>
                                                <i id="pro-11" class="fas fa-angle-down"></i>
                                            </li>
                                            <ul id="pro-11-list">
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-tai-nhe-111"> + Lốp tải nhẹ</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-tai-nặng-112"> + Lốp tải nặng</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-xe-khach-xe-bus-113"> + Lốp xe khách -
                                                        xe bus</a>
                                                </li>
                                            </ul>
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Lop-may-cong-trinh-12">- Lốp máy công
                                                    trình</a>
                                                <i class="fas fa-angle-down"></i>
                                            </li>

                                            <li class="list-group-item"><a class="pl-2" href="#">- Lốp xe công
                                                    nghiệp</a>
                                                <i class="fas fa-angle-down"></i>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="#">- Lốp nông nghiệp</a>
                                                <i class="fas fa-angle-down"></i>
                                            </li>
                                        </ul>

                                        <li class="list-group-item"><a href="">Sơ Mi Rơ Móc </a>
                                        </li>

                                        {{!-- Product 2 --}}
                                        <li class="list-group-item"><a href="">Xe tải/Đầu kéo/Xe ben </a>
                                            <i id="pro-2" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-2-list">
                                            <li class="list-group-item"><a class="pl-2" href="#">- Xe tải thùng</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="#">- Xe đầu kéo</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="#">- Xe ben</a>
                                            </li>
                                        </ul>

                                        {{!-- Product 3 --}}
                                        <li class="list-group-item"><a href="">Phụ tùng ô tô</a>
                                            <i id="pro-3" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-3-list">
                                            <li class="list-group-item"><a class="pl-2" href="#">- Xe tải thùng</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="#">- Xe đầu kéo</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="#">- Xe ben</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="#">- Sơ mi rơ móc</a>
                                            </li>
                                        </ul>

                                        {{!-- Product 4 --}}
                                        <li class="list-group-item"><a href="" class="">Dầu nhớt </a>
                                            <i id="pro-4" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-4-list">
                                            <li class="list-group-item"><a class="pl-2" href="#">- Dầu nhớt ô tô - xe
                                                    máy</a>
                                                <i class="fas fa-angle-down"></i>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="#">- Dầu nhớt công
                                                    nghiệp</a>
                                                <i class="fas fa-angle-down"></i>
                                            </li>

                                        </ul>

                                    </ul>
                                </li>
                                <li><a class="list-group-item">DỊCH VỤ</a></li>
                                <li><a class="list-group-item">TIN TỨC</a></li>
                                <li>
                                    <a id="collapse-btn2" class="list-group-item">CHÍNH SÁCH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse2" class="list-group">
                                        <li class="list-group-item"><a href="">Chính sách giao hàng</a></li>
                                        <li class="list-group-item"><a href="">Chính sách đại lý</a></li>
                                        <li class="list-group-item"><a href="">Chính sách cộng tác viên</a></li>
                                        <li class="list-group-item"><a href="">Chính sách bảo hành</a></li>
                                    </ul>
                                </li>
                                <li><a class="list-group-item">KHUYẾN MÃI</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="header-bars sticky">
                        <a id="bar-btn-left" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>

                        <a id="logo" href="/" title="">
                            <img src="/img/logo2.png" alt="" title="" />
                        </a>
                        <a id="bar-btn-right" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>
                    </div>


                </div>



                <div class="col-md-9 col-xs-12 sm-center header-content">
                    <div class="nav-top">
                    </div>

                    <div class="nav-bottom ">
                        <form action="/collections/search" method="POST" class="form-inline my-2 my-lg-0 ">
                            <div id="rounder-search" class="rounded border border-dark">
                                <input name="keyword" class="form-control search mw-50 ml-auto" type="search"
                                    placeholder="Tìm kiếm xe, phụ tùng,.." aria-label="Search">
                                <button id="btn-search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm
                                    kiếm</button>
                            </div>
                            <a style="" id="btn-cart" class="btn btn-outline-success my-2 ml-5" href="/shopping-cart">
                                <i class="fas fa-shopping-cart"></i>
                                Giỏ hàng
                            </a>
                            <a style="color:crimson" class="smooth mr-2 ml-3" href="tel:0839897897" title=""> <i
                                    class="fas fa-phone"></i>
                                Hotline: 083 989 7897</a>
                            <a style="color: black" class="smooth mr-2 ml-2" href="/users/login" title=""> <i
                                    class="fas fa-user"></i>
                                Đăng nhập</a>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>

</header>