<header class="main-bar" style="background: #fff;">
    <div class="container">
        <div class="header">
            <div class="row row-ibl mid col-mar-0">
                <div class="col-md-3 col-xs-12 sm-center">
                    


                    <div style="display: none;" class="sidebar" id="right-sidebar">
                        <div class="sidebar-header">
                            <a id="right-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li><a href="/home" class="list-group-item"><i class="fas fa-home"></i></a></li>
                                <li>
                                    <a id="collapse-btn1" class="list-group-item">VỀ NAM THỊNH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse1" class="list-group">
                                        <li class="list-group-item"><a href="/aboutus">Giới thiệu</a></li>
                                        <li class="list-group-item"><a href="/contact" class="">Liên hệ</a></li>
                                    </ul>

                                </li>
                                <li><a class="list-group-item">SẢN PHẨM
                                        <i id="collapse-btn3" class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse3" class="list-group">
                                        {{!-- Product 1 --}}
                                        <li class="list-group-item">
                                            <a href="/collections/Lop-Advance-Samson-1" class="">Lốp Advance/Samson </a>
                                            <i id="pro-1" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-1-list">
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Lop-xe-tai-xe-khach-11">- Lốp xe tải - xe
                                                    khách</a>
                                                <i id="pro-11" class="fas fa-angle-down"></i>
                                            </li>
                                            <ul id="pro-11-list">
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-tai-nhe-111"> + Lốp tải nhẹ</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-tai-nặng-112"> + Lốp tải nặng</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-xe-khach-xe-bus-113"> + Lốp xe khách -
                                                        xe bus</a>
                                                </li>
                                            </ul>
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Lop-may-cong-trinh-12">- Lốp máy công
                                                    trình</a>
                                                <i id="pro-12" class="fas fa-angle-down"></i>
                                            </li>
                                            <ul id="pro-12-list">
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-xe-tai-hang-nang-121"> + Lốp xe tải hạng
                                                        nặng</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-may-xuc-122"> + Lốp máy xúc</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-xe-cau-123"> + Lốp xe cẩu</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-xe-lu-123"> + Lốp xe lu</a>
                                                </li>
                                            </ul>

                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Lop-xe-cong-nghiep-13">- Lốp xe công
                                                    nghiệp</a>
                                                <i id="pro-13" class="fas fa-angle-down"></i>
                                            </li>
                                            <ul id="pro-13-list">
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-dac-131"> + Lốp đặc</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-cong-nghiep-khi-nen-132"> + Lốp công
                                                        nghiệp khí
                                                        nén</a>
                                                </li>
                                            </ul>
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Lop-xe-nong-nghiep-14">- Lốp nông nghiệp</a>
                                                <i id="pro-14" class="fas fa-angle-down"></i>
                                            </li>
                                            <ul id="pro-14-list">
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-nong-nghiep-nho-141"> + Lốp nông nghiệp
                                                        nhỏ</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-nong-nghiep-lon-142"> + Lốp nông nghiệp
                                                        lớn</a>
                                                </li>
                                            </ul>
                                        </ul>

                                        <li class="list-group-item"><a href="/collections/So-mi-ro-mooc-24">Sơ Mi Rơ Móc
                                            </a>
                                        </li>

                                        {{!-- Product 2 --}}
                                        <li class="list-group-item"><a href="/collections/Xe-tai-dau-keo-xe-ben-2">Xe
                                                tải/Đầu kéo/Xe ben </a>
                                            <i id="pro-2" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-2-list">
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Xe-tai-thung-21">- Xe tải thùng</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Xe-dau-keo-22">- Xe đầu kéo</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="/collections/Xe-ben-23">-
                                                    Xe ben</a>
                                            </li>
                                        </ul>

                                        {{!-- Product 3 --}}
                                        <li class="list-group-item"><a href="/collections/Phu-tung-o-to-3">Phụ tùng ô
                                                tô</a>
                                            <i id="pro-3" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-3-list">
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Xe-tai-thung-31">- Xe tải thùng</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/Xe-dau-keo-32">- Xe đầu kéo</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2" href="/collections/Xe-ben-33">-
                                                    Xe ben</a>
                                            </li>
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/So-mi-ro-moc-34">- Sơ mi rơ móc</a>
                                            </li>
                                        </ul>

                                        {{!-- Product 4 --}}
                                        <li class="list-group-item"><a href="/collections/dau-nhot-4" class="">Dầu nhớt
                                            </a>
                                            <i id="pro-4" class="fas fa-angle-down"></i>
                                        </li>
                                        <ul id="pro-4-list">
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/dau-nhot-o-to-xe-may-41">- Dầu nhớt ô tô - xe
                                                    máy</a>
                                                <i id="pro-41" class="fas fa-angle-down"></i>
                                            </li>
                                            <ul id="pro-41-list">
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-tai-nhe-411"> + Dầu động cơ</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-tai-nặng-412"> + Dầu hợp số</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Lop-tai-nặng-413"> + Dầu láp</a>
                                                </li>
                                            </ul>
                                            <li class="list-group-item"><a class="pl-2"
                                                    href="/collections/dau-nhot-cong-nghiep-42">- Dầu nhớt công
                                                    nghiệp</a>
                                                <i id="pro-42" class="fas fa-angle-down"></i>
                                            </li>
                                            <ul id="pro-42-list">
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Dau-da-nang-421"> + Dầu đa năng</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Dau-boi-tron-422"> + Dầu bôi trơn</a>
                                                </li>
                                                <li class="list-group-item"><a class="pl-4"
                                                        href="/collections/Dau-thuy-luc-423"> + Dầu thủy lực</a>
                                                </li>
                                            </ul>

                                        </ul>

                                    </ul>
                                </li>
                                <li><a href="/service" class="list-group-item">DỊCH VỤ</a></li>
                                <li><a href="/news" class="list-group-item">TIN TỨC</a></li>
                                <li>
                                    <a id="collapse-btn2" href="/policy" class="list-group-item">CHÍNH SÁCH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse2" class="list-group">
                                        <li class="list-group-item"><a href="">Chính sách giao hàng</a></li>
                                        <li class="list-group-item"><a href="">Chính sách đại lý</a></li>
                                        <li class="list-group-item"><a href="">Chính sách cộng tác viên</a></li>
                                        <li class="list-group-item"><a href="">Chính sách bảo hành</a></li>
                                    </ul>
                                </li>
                                <li><a href="/discount" class="list-group-item">KHUYẾN MÃI</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="header-bars sticky">
                        <a id="bar-btn-left" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>

                        <a id="logo" href="/" title="">
                            <img src="/img/logo2.png" alt="" title="" />
                        </a>
                        <a id="bar-btn-right" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>
                    </div>


                </div>



                <div class="col-md-9 col-xs-12 sm-center header-content">
                    <div class="nav-top">
                    </div>

                    <div class="nav-bottom ">
                        <form action="/collections/search" method="POST" class="form-inline my-2 my-lg-0 ">
                            <div id="rounder-search" class="rounded">
                                <input name="keyword" class="form-control search mw-50 ml-auto" type="search"
                                    placeholder="Tìm kiếm xe, phụ tùng,.." aria-label="Search">
                                <button id="btn-search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm
                                    kiếm</button>
                            </div>
                            <a style="" id="btn-cart" class="btn btn-outline-success my-2 ml-5" href="/shopping-cart">
                                <i class="fas fa-shopping-cart"></i>
                                Giỏ hàng
                            </a>
                            <a style="color:crimson" class="smooth mr-2 ml-3" href="tel:0839897897" title=""> <i
                                    class="fas fa-phone"></i>
                                Hotline: 083 989 7897</a>
                            <a style="color: black" class="smooth mr-2 ml-2" href="/users/login" title=""> <i
                                    class="fas fa-user"></i>
                                Đăng nhập</a>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>

</header>