<div class="leave-msg">
    <header id="leaver-header" class="leave-msg-header">
        <span>Để lại lời nhắn</span>
        <i class="fas fa-angle-down"></i>
    </header>
    <div class="leave-msg-body">
        <form>
            <div class="group-form mt-3">
                <label for="nameEmail">Họ tên hoặc email</label>
                <input type="text" id="nameEmail">
            </div>
            <div class="group-form">
                <label for="customer-phone">Số điện thoại</label>
                <input type="text" id="customer-phone">
            </div>
            <div class="group-form mb-3">
                <label for="customer-content">Nội dung</label>
                <textarea id="customer-content" name="content" rows="4" cols="50"></textarea>
            </div>
            <button type="submit">Gữi</button>
        </form>
    </div>

    <footer class="leave-msg-footer">

    </footer>
</div>