<nav class="navbar navbar-expand-lg">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="semi-nav collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto text-uppercase">
        <li class="nav-item dropdown px-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Về Nam Thịnh
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Giới thiệu</a>
            <a class="dropdown-item" href="#">Liên hệ</a>
          </div>
        </li>

        <li class="nav-item dropdown px-3">
          <a class="nav-link dropdown-toggle" href="/collections/the-gioi-phu-tung" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-expanded="false">
            Sản phẩm
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Lốp Advance/Samson</a>
            <a class="dropdown-item" href="#">Xe tải/đầu kéo/xe ben</a>
            <a class="dropdown-item" href="#">Phụ tùng ô tô</a>
            <a class="dropdown-item" href="#">Dầu nhớt</a>
          </div>
        </li>

        {{!-- <li class="nav-item px-3">
          <a class="nav-link" href="#">Sản phẩm</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" href="#">Giới thiệu</a>
            <a class="dropdown-item" href="#">Liên hệ</a>
          </div>
        </li> --}}
        {{!-- <li class="nav-item px-3">
          <a class="nav-link" href="#">Về Ô tô</a>
        </li> --}}

        <li class="nav-item px-3">
          <a class="nav-link" href="#">Khuyến Mãi</a>
        </li>
        <li class="nav-item dropdown px-3">
          <a class="nav-link dropdown-toggle" href="/collections/the-gioi-phu-tung" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-expanded="false">
            Chính sách
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Chính sách Giao Hàng</a>
            <a class="dropdown-item" href="#">Chính sách Đại Lý</a>
            <a class="dropdown-item" href="#">Chính sách Cộng Tác Viên</a>
            <a class="dropdown-item" href="#">Chính sách Bảo Hành</a>
          </div>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link" href="#">Showroom</a>
        </li>
    </div>

    
  </div>
</nav>