<div class="service-page">
    <div class="titleL mt-5">
        <h1></h1>
        <h1>Về chúng tôi</h1>
    </div>

    

    <div class="text-center h3 mt-5">
        CÔNG TY TNHH ĐẦU TƯ THƯƠNG MẠI DỊCH VỤ NAM THỊNH
    </div>

    <div class="text-center h3 mb-5">
        Tên giao dịch : NAM THINH SERVICE TRADING INVESTMENT CO., LTD
    </div>

    <div class="text-justified px-2">
        Có mặt trên thị trường nhiều năm qua Nam Thịnh tự hào là đơn vị phân phối lốp ô tô tải, lốp xe khách,xe công nông… uy tín tại Việt Nam. Với quy trình cung cấp sản phẩm nhanh chóng chuyên nghiệp tới quý khách hàng cùng với những sản phẩm chất lượng cao. Những năm qua Nam Thịnh đã cung cấp ra thị trường hàng nghìn lốp xe chính hãng. Nhận được sự tin tưởng và đánh giá tích cực từ chính khách hàng. Đây là những thành quả tuyệt vời cho những nổ lực không ngừng của Nam Thịnh để mang đến chất lượng và niềm tin cho khách hàng. Đến nay, Nam Thịnh đã trở thành địa chỉ quen thuộc cho nhiều khách hàng, các đối tác kinh doanh muốn mua lốp xe chất lượng cao với giá tốt nhất trên thị trường
    </div>
    <br>
    <div class="text-justified px-2">
        Nam Thịnh đã lại ghi dấu ấn trong lòng khách hàng bằng quy trình cung cấp dịch vụ luôn được kiểm soát chặt chẽ “ Kiểm định chất lượng – Bán hàng – Hỗ trợ và chăm sóc khách hàng – Bảo hành sau bán hàng ”.
    </div>
    <br>
    <div class="text-justified px-2">
        Để dịch vụ chăm sóc hỗ trợ khách hàng cũng như chất lượng sản phẩm ngày càng tốt hơn. Nam Thịnh sẽ không ngừng nâng cao chất lượng dịch vụ bằng việc đầu tư phát triển hệ thống phân phối trên toàn quốc. Nhằm bảo vệ, bảo quản sản phẩm tốt nhất khi tới tay khách hàng.
    </div>

    <div class="w-100 mt-4">
        <img width="100%" src="https://firebasestorage.googleapis.com/v0/b/namthinh-69ec0.appspot.com/o/logo%2Fbanner2.png?alt=media&token=49747154-25b1-4746-bc95-2122ec4c2354" alt="">
    </div>
    <br>
    
    {{{content}}}
</div>

