{{!-- Body: start --}}
<div class="container">
    <div class="addProduct-header">
        <div class="row pagi">
            <span class="sub-title">Đăng tin tức</span>
            <img class="bgc-title" src="/img/title.png" alt="">
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto">
                {{#if success}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="addProduct-body">
        <form class="form-horizontal" enctype="multipart/form-data" method="post">
            <fieldset>
                <!-- Textarea -->
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="news-content" name="news-content"></textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-footer">
                    <button type="submit">Đăng tin</button>
                </div>
            </fieldset>
        </form>
    </div>

</div>

{{!-- Body: end --}}

<script src="/ckeditor/ckeditor.js"></script>

<!-- Footer -->
<script>
    CKEDITOR.replace('news-content')
</script>