{{!-- Body: start --}}
<div class="container">
    <div class="addProduct-header">
        <div class="row pagi">
            <span class="sub-title">Thêm sản phẩm</span>
            <img class="bgc-title" src="/img/title.png" alt="">
        </div>
    </div>
    <div class="addProduct-body">
        <form class="form-horizontal" enctype="multipart/form-data" method="post">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_id">MÃ SẢN PHẨM</label>
                    <div class="col-md-8">
                        <input id="product_id" name="product_id" placeholder="Mã sản phẩm" class="form-control input-md"
                            required="" type="text">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_name">TÊN SẢN PHẨM</label>
                    <div class="col-md-8">
                        <input id="product_name" name="product_name" placeholder="Tên sản phẩm"
                            class="form-control input-md" required="" type="text">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_model">MODEL</label>
                    <div class="col-md-8">
                        <input id="product_model" name="product_model" placeholder="Model" class="form-control input-md"
                            required="" type="text">

                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_categories">DANH MỤC SẢN PHẨM</label>
                    <div class="col-md-8">
                        <select id="product_categories" name="product_categories" required="" class="form-control">
                            <option value="">--Chọn loại sản phẩm--</option>
                            <optgroup label="Lốp Advance / Samson">
                                <option value="111">Lốp xe tải / xe khách: Lốp tải nhẹ</option>
                                <option value="112">Lốp xe tải / xe khách: Lốp tải nặng</option>
                                <option value="113">Lốp xe tải / xe khách: Lốp xe khách / xe bus</option>

                                <option value="121">Lốp máy công trình: Lốp xe tải hạng nặng</option>
                                <option value="122">Lốp máy công trình: Lốp máy súc</option>
                                <option value="123">Lốp máy công trình: Lốp xe cẩu</option>
                                <option value="124">Lốp máy công trình: Lốp xe lu</option>

                                <option value="131">Lốp máy công nghiệp: Lốp đặc</option>
                                <option value="132">Lốp máy công nghiệp: Lốp công nghiệp khí nén</option>

                                <option value="141">Lốp máy nông nghiệp: Lốp nông nghiệp nhỏ</option>
                                <option value="142">Lốp máy nông nghiệp: Lốp nông nghiệp lớn</option>
                            </optgroup>
                            <optgroup label="Xe tải / Đầu kéo / Xe ben">
                                <option value="210">Xe tải thùng</option>
                                <option value="220">Xe đầu kéo</option>
                                <option value="230">Xe ben</option>
                                <option value="240">Sơ mi rơ móc</option>
                            </optgroup>
                            <optgroup label="Phụ tùng ô tô">
                                <option value="310">Xe tải thùng</option>
                                <option value="320">Xe đầu kéo</option>
                                <option value="330">Xe ben</option>
                                <option value="340">Sơ mi rơ móc</option>
                            </optgroup>
                            <optgroup label="Dầu nhớt">
                                <option value="411">Dầu nhớt ô tô / xe máy: Dầu động cơ</option>
                                <option value="412">Dầu nhớt ô tô / xe máy: Dầu hộp số</option>
                                <option value="413">Dầu nhớt ô tô / xe máy: Dầu láp</option>
                                <option value="421">Dầu nhớt công nghiêp: Dầu đa năng</option>
                                <option value="422">Dầu nhớt công nghiêp: Dầu bôi trơn</option>
                                <option value="423">Dầu nhớt công nghiêp: Dầu thủy lực</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_branch">THƯƠNG HIỆU</label>
                    <div class="col-md-8">
                        <input id="product_branch" name="product_branch" placeholder="Thương hiệu"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_origin">Xuất sứ</label>
                    <div class="col-md-8">
                        <input id="product_origin" name="product_origin" placeholder="Xuất sứ"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product-image">HÌNH ẢNH SẢN PHẨM</label>
                    <div class="col-md-8">
                        <div class="form-group-container">
                            <input id="product-image" accept="image/*" required="" name="product-image"
                                class="form-control input-md" onchange="preview()" type="file" multiple>
                            <label for="product-image">
                                <i class="fas fa-upload"></i>
                                Chọn ảnh sản phẩm &nbsp;
                            </label>
                            <p id="num-of-file">Chưa có ảnh nào được chọn</p>
                            <div id="images-upload">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_description">MÔ TẢ THÔNG TIN SẢN PHẨM</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="product_description" name="product_description">
                            <p><strong>Thông số kỹ thuật</strong></p>
                            <p>- Tải trọng nâng: 4 Tấn</p>

                            <p>- Chiều cao nâng: 2050 mm</p>

                            <p>- Thời gian nâng/hạ: 35/28 giây</p>

                            <p>- Chiều rộng thông xe: 2509 mm</p>

                            <p>- Khoảng cách giữa 2 trụ: 2766 mm</p>

                            <p>- Chiều cao tổng thể: 4040 mm</p>

                            <p>- Vị trí thấp nhất của tay nâng: 95 - 140 mm</p>

                            <p>- Tay nâng dài: 1130 - 1840 mm</p>

                            <p>- Công suất Mô tơ: 3 Kw</p>

                            <p>- Cấp nguồn: 3 pha 400V / 50Hz</p>

                            <p>&nbsp;</p>
                        </textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-footer">
                    <button type="submit">Thêm sản phẩm</button>
                </div>

            </fieldset>
        </form>
    </div>

    <div class="addProduct-footer">

    </div>
</div>

{{!-- Body: end --}}


<script src="https://cdn.tiny.cloud/1/j88ohxy0xzr1jtwyis9v2j14gxs7ym1374rj731gaz4wcqo0/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

<!-- Footer -->
<script>
    let fileInput = document.getElementById("product-image")
    let imageContainer = document.getElementById('images-upload')
    let numOfFiles = document.getElementById('num-of-file')

    function preview() {
        imageContainer.innerHTML = ""
        numOfFiles.textContent = `${fileInput.files.length} ảnh đã được chọn`;

        for (i of fileInput.files) {
            let reader = new FileReader()
            let figure = document.createElement("figure")
            let figCap = document.createElement("figcaption")

            figCap.innerText = i.name
            figure.appendChild(figCap)
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                figure.insertBefore(img, figCap);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i)
        }
    }

    tinymce.init({
        selector: '#product_description',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>