<header class="main-bar" style="background: #fff;">
    <div class="header">
        <div class="container">
            <div class="row row-ibl mid col-mar-0">
                <div class="col-md-3 col-xs-12 sm-center">
                    <div style="display: none;" class="sidebar" id="left-sidebar">
                        <div class="sidebar-header">
                            <a id="left-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li><a class="list-group-item smooth" href="#" title=""> <i class="fas fa-key"></i>
                                        Đổi mật khẩu</a></li>
                                <li><a class="list-group-item smooth" href="#" title=""> <i
                                            class="fas fa-sign-out-alt"></i>
                                        Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                    <div style="display: none;" class="sidebar" id="right-sidebar">
                        <div class="sidebar-header">
                            <a id="right-times" type="button"><i class="fas fa-times"></i></a>
                        </div>
                        <div class="sidebar-body">
                            <ul class="list-group">
                                <li>
                                    <a id="collapse-btn1" class="list-group-item">VỀ NAM THỊNH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse1" class="list-group">
                                        <li class="list-group-item"><a href="">Giới thiệu</a></li>
                                        <li class="list-group-item"><a href="" class="">Liên hệ</a></li>
                                    </ul>

                                </li>
                                <li><a id="collapse-btn3" class="list-group-item">SẢN PHẨM
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse3" class="list-group">
                                        <li class="list-group-item">
                                            <a href="" class="">Lốp Advance/Samson</a>
                                        </li>
                                        <li class="list-group-item"><a href="">Xe tải/Đầu kéo/Xe ben</a></li>
                                        <li class="list-group-item"><a href="">Phụ tùng ô tô</a></li>
                                        <li class="list-group-item"><a href="" class="">Dầu nhớt</a></li>
                                    </ul>
                                </li>
                                <li><a class="list-group-item">KHUYẾN MÃI</a></li>
                                <li>
                                    <a id="collapse-btn2" class="list-group-item">CHÍNH SÁCH
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul id="collapse2" class="list-group">
                                        <li class="list-group-item"><a href="">Chính sách giao hàng</a></li>
                                        <li class="list-group-item"><a href="">Chính sách đại lý</a></li>
                                        <li class="list-group-item"><a href="">Chính sách cộng tác viên</a></li>
                                        <li class="list-group-item"><a href="">Chính sách bảo hành</a></li>
                                    </ul>
                                </li>
                                <li><a class="list-group-item">SHOWROOM</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="header-bars">
                        <a id="bar-btn-left" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>

                        <a id="logo" href="/" title="">
                            <img src="/img/logo.png" alt="" title="" />
                        </a>
                        <a id="bar-btn-right" type="button" style="display: none;" class="bars-btn"><i
                                class="fas fa-bars"></i></a>
                    </div>


                </div>



                <div class="col-md-9 col-xs-12 sm-center header-content">
                    <div class="nav-top">
                    </div>

                    <div class="nav-bottom admin-nav">
                        <form class="form-inline my-2 my-lg-0 ">

                            <a class="smooth mr-2 ml-2" href="" title=""> <i class="fas fa-key"></i>
                                Đổi mật khẩu
                            </a>
                            <a class="smooth mr-2 ml-2" href="" title=""> <i class="fas fa-sign-out-alt"></i>
                                Đăng xuất
                            </a>

                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>
</header>

<nav class="navbar2">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a href="">Về Nam Thịnh <i class="fas fa-angle-down"></i></a>
                <ul class="navbar-menu">
                    <li class="navbar-menu-item">
                        <a href="">Giới thiệu</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Liên hệ</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-item">
                <a href="">Sản phẩm <i class="fas fa-angle-down"></i></a>
                <ul class="navbar-menu">
                    <li class="navbar-menu-item">
                        <a href="">Lốp Advance/Samson</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Lốp máy công trình</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="LMCT" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Lốp xe tải hạng nặng</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp máy xúc</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp xe cẩu</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp xe lu</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Lốp xe công nghiệp</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="LMCT" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Lốp đặc</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp công nghiệp khí nén</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Lốp nông nghiệp</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="LMCT" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Lốp nông nghiệp nhỏ</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Lốp nông nghiệp lớn</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Xe tải/ đầu kéo / xe ben</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Xe tải thùng</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe đầu kéo</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe ben</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Sơ mi rơ móc</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Phụ tùng ô tô</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Xe tải thùng</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe đầu kéo</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Xe ben</a>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Sơ mi rơ móc</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Dầu nhớt</a>
                        <i class="fas fa-angle-double-right"></i>
                        <ul class="navbar-product-list">
                            <li class="navbar-product-item">
                                <a href="">Dầu nhớt ô tô / xe máy</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="DN" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Dầu động cơ</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu hợp số</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu láp</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="navbar-product-item">
                                <a href="">Dầu nhớt công nghiệp</a>
                                <i class="fas fa-angle-double-right"></i>
                                <ul id="DN" class="navbar-product-list">
                                    <li class="navbar-product-item">
                                        <a href="">Dầu đa năng</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu bôi trơn</a>
                                    </li>
                                    <li class="navbar-product-item">
                                        <a href="">Dầu thủy lực</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li class="navbar-item">
                <a href="">Khuyến mãi</a>
            </li>
            <li class="navbar-item">
                <a href="">Chính sách <i class="fas fa-angle-down"></i></a>
                <ul class="navbar-menu" style="width: 280px">
                    <li class="navbar-menu-item">
                        <a href="">Chính sách giao hàng</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Chính sách đại lý</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Chính sách cộng tác viên</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a href="">Chính sách bảo hành</a>
                    </li>
                </ul>
            </li>
            <li class="navbar-item"><a href="">Showroom</a></li>
        </ul>
    </div>
</nav>

{{!-- Body: start --}}
<div class="container">
    <div class="addProduct-header">
        <div class="row pagi">
            <span class="sub-title">Thêm sản phẩm</span>
        </div>
    </div>
    <div class="addProduct-body">
        <form class="form-horizontal" enctype="multipart/form-data" method="post">
            <fieldset>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_id">MÃ SẢN PHẨM</label>
                    <div class="col-md-8">
                        <input id="product_id" name="product_id" placeholder="Mã sản phẩm" class="form-control input-md"
                            required="" type="text">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_name">TÊN SẢN PHẨM</label>
                    <div class="col-md-8">
                        <input id="product_name" name="product_name" placeholder="Tên sản phẩm"
                            class="form-control input-md" required="" type="text">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="available_quantity">MODEL</label>
                    <div class="col-md-8">
                        <input id="available_quantity" name="available_quantity" placeholder="Model"
                            class="form-control input-md" required="" type="text">

                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_categorie">DANH MỤC SẢN PHẨM</label>
                    <div class="col-md-8">
                        <select id="product_categorie" name="product_categorie" class="form-control">
                            <option value="">--Chọn loại sản phẩm--</option>
                            <optgroup label="Lốp Advance / Samson">
                                <option value="">Lốp máy công trình: Lốp xe tải hạng nặng</option>
                                <option value="">Lốp máy công trình: Lốp máy súc</option>
                                <option value="">Lốp máy công trình: Lốp xe cẩu</option>
                                <option value="">Lốp máy công trình: Lốp xe lu</option>
                                <option value="">Lốp máy công nghiệp: Lốp đặc</option>
                                <option value="">Lốp máy công nghiệp: Lốp công nghiệp khí nén</option>
                                <option value="">Lốp máy nông nghiệp: Lốp nông nghiệp nhỏ</option>
                                <option value="">Lốp máy nông nghiệp: Lốp nông nghiệp lớn</option>
                            </optgroup>
                            <optgroup label="Xe tải / Đầu kéo / Xe ben">
                                <option value="">Xe tải thùng</option>
                                <option value="">Xe đầu kéo</option>
                                <option value="">Xe ben</option>
                                <option value="">Sơ mi rơ móc</option>
                            </optgroup>
                            <optgroup label="Phụ tùng ô tô">
                                <option value="">Xe tải thùng</option>
                                <option value="">Xe đầu kéo</option>
                                <option value="">Xe ben</option>
                                <option value="">Sơ mi rơ móc</option>
                            </optgroup>
                            <optgroup label="Dầu nhớt">
                                <option value="">Dầu nhớt ô tô / xe máy: Dầu động cơ</option>
                                <option value="">Dầu nhớt ô tô / xe máy: Dầu hộp số</option>
                                <option value="">Dầu nhớt ô tô / xe máy: Dầu láp</option>
                                <option value="">Dầu nhớt công nghiêp: Dầu đa năng</option>
                                <option value="">Dầu nhớt công nghiêp: Dầu bôi trơn</option>
                                <option value="">Dầu nhớt công nghiêp: Dầu thủy lực</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_branch">THƯƠNG HIỆU</label>
                    <div class="col-md-8">
                        <input id="product_branch" name="product_branch" placeholder="Thương hiệu"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_origin">Xuất sứ</label>
                    <div class="col-md-8">
                        <input id="product_origin" name="product_origin" placeholder="Xuất sứ"
                            class="form-control input-md" required="" type="text">
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product-image">HÌNH ẢNH SẢN PHẨM</label>
                    <div class="col-md-8">
                        <div class="form-group-container">
                            <input id="product-image" accept="image/*" name="product-image"
                                class="form-control input-md" onchange="preview()" type="file" multiple>
                            <label for="product-image">
                                <i class="fas fa-upload"></i>
                                Chọn ảnh sản phẩm &nbsp;
                            </label>
                            <p id="num-of-file">Chưa có ảnh nào được chọn</p>
                            <div id="images-upload">

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="product_description">MÔ TẢ THÔNG TIN SẢN PHẨM</label>
                    <div class="col-md-8">
                        <textarea class="form-control" id="product_description" name="product_description"></textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-footer">
                    <button type="submit">Thêm sản phẩm</button>
                </div>

            </fieldset>
        </form>
    </div>

    <div class="addProduct-footer">

    </div>
</div>

{{!-- Body: end --}}

<!-- Footer -->
<footer style="background-color: rgb(7, 50, 129);" class="text-center text-lg-start text-muted">

    <!-- Section: Links  -->
    <section class="about-us py-1">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> NAM THỊNH
                    </h6>
                    <p>
                        CÔNG TY TNHH ĐẦU TỬ VÀ THƯƠNG MẠI DỊCH VỤ NAM THỊNH
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Giới thiệu
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Về chúng tôi</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách giao hàng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách đại lý</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách cộng tác viên</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính sách bảo hành</a>
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Sản phẩm
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Lốp Xe</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Xe Đầu Kéo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Phụ Tùng</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nhớt Xe</a>
                    </p>
                </div>
                <!-- Grid column -->


                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-8 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Liên hệ
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Địa chỉ: 2290 QL1A, Phường Trung Mỹ Tây, Quận 12, TP HCM</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        Email: thuongmainamthinh@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> Hotline: 0903 957 857</p>
                    {{!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p> --}}
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>

        <div class="text-center p-4" style="color: white">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="#">SUDTechnology</a>
        </div>
    </section>
    <!-- Section: Links  -->
</footer>

<script src="https://cdn.tiny.cloud/1/j88ohxy0xzr1jtwyis9v2j14gxs7ym1374rj731gaz4wcqo0/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

<!-- Footer -->
<script>
    let fileInput = document.getElementById("product-image")
    let imageContainer = document.getElementById('images-upload')
    let numOfFiles = document.getElementById('num-of-file')

    function preview() {
        imageContainer.innerHTML = ""
        numOfFiles.textContent = `${fileInput.files.length} ảnh đã được chọn`;

        for (i of fileInput.files) {
            let reader = new FileReader()
            let figure = document.createElement("figure")
            let figCap = document.createElement("figcaption")

            figCap.innerText = i.name
            figure.appendChild(figCap)
            reader.onload = () => {
                let img = document.createElement("img");
                img.setAttribute("src", reader.result);
                figure.insertBefore(img, figCap);
            }
            imageContainer.appendChild(figure);
            reader.readAsDataURL(i)
        }
    }

    tinymce.init({
        selector: '#product_description',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>