<div class="service-page">
    <div class="titleL mt-5"><h1></h1><h1>Khuyến mãi</h1></div>

    

    <div class="row mt-5">
        <div class="service-box col-12">
            <div class="service-main-img">
                <img height="100%" class="w-100 smooth" src="/img/discount/discount1.png" alt="">
            </div>

            <div class="service-main-content">
                <div class="service-content">
                <div class="captions">
                    <h3><a href="https://hondaotophattien.com.vn/vn/bao-duong-nhanh.html">DỊCH VỤ BẢO DƯỠNG NHANH</a></h3>

                    <div class="des">
                        Bảo dưỡng nhanh là dịch vụ tân tiến về chế độ bảo hành, bảo dưỡng được rút ngắn trong thời gian sớm nhất, đảm bảo thời gian và chất lượng
                    </div>
                </div>
            </div>
            <a style="background-color: rgb(121, 70, 70); color: white" href="" class="watch-detail px-5 mx-5 py-2">Xem thêm</a>
            </div>
        </div>

        <div class="col-md-4 service-box mt-5">
            <div class="service-img-box">
                <img class="w-100" src="/img/discount/discount2.png" alt="">
            </div>

            <div class="service-content">
                <div class="captions">
                    <h3><a href="https://hondaotophattien.com.vn/vn/bao-duong-nhanh.html">DỊCH VỤ BẢO DƯỠNG ĐỊNH KỲ</a></h3>

                    <div class="des">
                        Bảo dưỡng nhanh là dịch vụ tân tiến về chế độ bảo hành, bảo dưỡng được rút ngắn trong thời gian sớm nhất, đảm bảo thời gian và chất lượng
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 service-box mt-5">
            <div class="service-img-box">
                <img class="w-100" src="/img/discount/discount3.png" alt="">
            </div>

            <div class="service-content">
                <div class="captions">
                    <h3><a href="https://hondaotophattien.com.vn/vn/bao-duong-nhanh.html">DỊCH VỤ SỬA CHỬA NHANH</a></h3>

                    <div class="des">
                        Bảo dưỡng nhanh là dịch vụ tân tiến về chế độ bảo hành, bảo dưỡng được rút ngắn trong thời gian sớm nhất, đảm bảo thời gian và chất lượng
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 service-box mt-5">
            <div class="service-img-box">
                <img class="w-100" src="/img/discount/discount4.png" alt="">
            </div>

            <div class="service-content">
                <div class="captions">
                    <h3><a href="https://hondaotophattien.com.vn/vn/bao-duong-nhanh.html">DỊCH VỤ LÀM LỐP DI ĐỘNG NHANH</a></h3>

                    <div class="des">
                        Bảo dưỡng nhanh là dịch vụ tân tiến về chế độ bảo hành, bảo dưỡng được rút ngắn trong thời gian sớm nhất, đảm bảo thời gian và chất lượng
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 service-box mt-5">
            <div class="service-img-box">
                <img class="w-100" src="/img/discount/discount5.png" alt="">
            </div>

            <div class="service-content">
                <div class="captions">
                    <h3><a href="https://hondaotophattien.com.vn/vn/bao-duong-nhanh.html">DỊCH VỤ LÀM LỐP DI ĐỘNG NHANH</a></h3>

                    <div class="des">
                        Bảo dưỡng nhanh là dịch vụ tân tiến về chế độ bảo hành, bảo dưỡng được rút ngắn trong thời gian sớm nhất, đảm bảo thời gian và chất lượng
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 service-box mt-5">
            <div class="service-img-box">
                <img class="w-100" src="/img/discount/discount6.png" alt="">
            </div>

            <div class="service-content">
                <div class="captions">
                    <h3><a href="https://hondaotophattien.com.vn/vn/bao-duong-nhanh.html">DỊCH VỤ LÀM LỐP DI ĐỘNG NHANH</a></h3>

                    <div class="des">
                        Bảo dưỡng nhanh là dịch vụ tân tiến về chế độ bảo hành, bảo dưỡng được rút ngắn trong thời gian sớm nhất, đảm bảo thời gian và chất lượng
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 service-box mt-5">
            <div class="service-img-box">
                <img class="w-100" src="/img/discount/discount7.png" alt="">
            </div>

            <div class="service-content">
                <div class="captions">
                    <h3><a href="https://hondaotophattien.com.vn/vn/bao-duong-nhanh.html">DỊCH VỤ LÀM LỐP DI ĐỘNG NHANH</a></h3>

                    <div class="des">
                        Bảo dưỡng nhanh là dịch vụ tân tiến về chế độ bảo hành, bảo dưỡng được rút ngắn trong thời gian sớm nhất, đảm bảo thời gian và chất lượng
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
