<div class="welcome-page">

    <header class="w-header" style="background-color: #0a4275;">
        <div class="container">
            <h3 class="font-weight-bold text-white">CÔNG TY TNHH ĐẦU TƯ VÀ THƯƠNG MẠI NAM THỊNH</h3>
        </div>
    </header>

    <div class="w-body mb-5">
        <div class="container">
            {{!-- <div class="row mb-3">
                <div class="col-lg-12 mb-3 mb-lg-0 mt-3">
                    <a class="logo-access" href="/home">
                        <div class="hover-home-page">
                            <img src="/img/logo.png" alt="">
                        </div>
                    </a>
                </div>
            </div> --}}
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <a href="/collections/Lop-Advance-Samson-1">
                        <div class="hover hover-5 text-white rounded"><img
                                src="https://media.istockphoto.com/photos/tires-picture-id1191549346?k=20&m=1191549346&s=612x612&w=0&h=23iDjFhl8jnrRrIqrvrzrRdHYMvDIvyZqeAPLcmSCL4="
                                alt="">
                            <div class="hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0"><span
                                        class="font-weight-bold text-white"> <strong> Lốp Xe </strong> </span></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <a href="/collections/Xe-tai-dau-keo-xe-ben-2">
                        <div class="hover hover-5 text-white rounded"><img
                                src="https://di-uploads-pod21.dealerinspire.com/rechtieninternationaltrucks/uploads/2020/05/2020-INTERNATIONAL-LT625-6X4.jpg"
                                alt="">
                            <div class="hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0"><span
                                        class="font-weight-bold text-white"> <strong> Xe tải - Đầu kéo </strong> </span>
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>



            </div>

            <div class="row mb-3">
                <div class="col-lg-12 mb-3 mb-lg-0 mt-3">
                    <a class="logo-access" href="/home">
                        <div class="hover-home-page">
                            <img src="/img/logo.png" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-3">
                    <a href="/collections/Phu-tung-o-to-3">
                        <div class="hover hover-5 text-white rounded"><img
                                src="https://www.studytienganh.vn/upload/2021/07/108258.jpg" alt="">
                            <div class="hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0"><span
                                        class="font-weight-bold text-white"> <strong> phụ tùng </strong> </span></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <a href="/collections/Dau-nhot-4">
                        <div class="hover hover-5 text-white rounded"><img
                                src="https://commodities.bureauveritas.com/sites/g/files/zypfnx241/files/2020-06/Lubricating%20Oil%20Analysis.jpg"
                                alt="">
                            <div class="hover-overlay"></div>
                            <div class="hover-5-content">
                                <h3 class="hover-5-title text-uppercase font-weight-light mb-0"><span
                                        class="font-weight-bold text-white"> <strong> Nhớt xe </strong> </span></h3>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-between align-items-center">
                    <span class="me-5">
                        CÔNG TY TNHH ĐẦU TƯ VÀ THƯƠNG MẠI NAM THỊNH <br>
                        Địa chỉ: 2290 QL1A, Phường Trung Mỹ Tây, Quận 12,TP HCM
                    </span>
                    <span class="me-5"> Hotline: 0903 957 857 - Email : <a class="text-white"
                            href="">thuongmainamthinh@gmail.com</a></span>
                </p>

            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="#">SUDTechnology</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>