<div class="welcome-page">

    <header class="w-header">
        <div class="container">
            <h3 class="font-weight-bold text-white">CÔNG TY TNHH ĐẦU TƯ VÀ THƯƠNG MẠI NAM THỊNH</h3>
        </div>
    </header>

    <div class="w-body">
        <ul id="hexGrid">
        <li class="hex">
          <a class="hexIn" href="/collections/Lop-Advance-Samson-1">
            <img class="hexImg" src="/img/lopxe.jpg" alt="" />
            <h1>Lốp xe</h1>
            <p></p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="/collections/Xe-tai-dau-keo-xe-ben-2">
            <img class="hexImg" src="/img/xedaukeo.png" alt="" />
            <h1>Xe tải</h1>
            <p></p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img class="hexImg" src="/img/somi.png" alt="" />
            <h1>Sơ mi rơ móoc</h1>
            <p></p>
          </a>
        </li>
        <li class="hex">
          <a class="mainIn" href="/home">
            <img class="smooth" style="width: 100%; height: 50%; margin-top: 29%;" src="/img/logo.png" alt="" />
            
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img class="hexImg" src="/img/news.png" alt="" />
            <h1>Tin tức</h1>
            <p></p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="/collections/Dau-nhot-4">
            <img class="hexImg" src="https://commodities.bureauveritas.com/sites/g/files/zypfnx241/files/2020-06/Lubricating%20Oil%20Analysis.jpg" alt="" />
            <h1>Dầu nhớt</h1>
            <p></p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="collections/Phu-tung-o-to-3">
            <img class="hexImg" src="/img/phutung.png" alt="" />
            <h1>Phụ tùng</h1>
            <p></p>
          </a>
        </li>
        
      
      </ul>
      <div class="loader-wrapper">
        <div class="loader"><div class="loader-inner"></div></div>
        </div>

    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container my-1 pt-3 ">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-between align-items-center">
                    <span class="me-5">
                        CÔNG TY TNHH ĐẦU TƯ VÀ THƯƠNG MẠI NAM THỊNH <br>
                        Địa chỉ: 2290 QL1A, Phường Trung Mỹ Tây, Quận 12,TP HCM
                    </span>
                    <span class="me-5"> Hotline: 0903 957 857 - Email : <a class="text-white"
                            href="">thuongmainamthinh@gmail.com</a></span>
                </p>

            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="#">SUDTechnology</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>