<div class="welcome-page">
  <div class="container" align="center">
    <div style="height: 50px;">

    </div>
  <div class="hex-layer-3">
    <div class="hex hex-1">
      <div class="layer-title"><span>Xe đầu kéo</span></div>
    </div>
    
  </div> 
  <div class="hex-layer-2">
    <div class="hex mx-layer2 hex-5">
      <div class="layer-title"><span>Xe ben</span></div>
    </div>
    <div class="hex mx-layer2 hex-6">
      <div class="layer-title"><span>Sơ mi rơ móoc</span></div>
    </div>
  </div>
  <div class="hex-layer-3">
    <div class="hex hex-2">
      <div class="layer-title"><span>Lốp xe</span></div>
    </div>
    <div class="hex mx-layer3 main-hex">
      {{!-- <div class="layer-title"><span>Xe đầu kéo</span></div> --}}
    </div>
    <div class="hex hex-3">
      <div class="layer-title"><span>Dầu nhớt</span></div>
    </div>
  </div>
  <div class="hex-layer-2">
    <div class="hex mx-layer2">
      
      <div class="layer-title"><span>Xe đầu kéo</span></div>
    </div>
    <div class="hex mx-layer2">
      <div class="layer-title"><span>Xe đầu kéo</span></div>
    </div>
  </div>
  <div class="hex-layer-3">
    <div class="hex hex-4">
      <div class="layer-title"><span>Phụ tùng</span></div>
    </div>
    
  </div> 
  <div>
    <div class="loader-wrapper">
      <div class="loader"><div class="loader-inner"></div></div>
    </div>
</div>

<script>
  $('.hex').hover(function() {
    $(this).children('.layer-title').animate({height: '0%'})
  },function() {
    $(this).children('.layer-title').animate({height: '100%'})
  })

  
</script>