<div class="welcome-page">
  <div class="container" align="center">
    <div class="mg" style="height: 150px;">

    </div>
  <div class="hex-layer-3">
    <div onclick='window.location.href="/collections/Dau-nhot-4"' class="hex fadeDown">
      <div class="hex-inner hex-7">

      <div  class="layer-title"><span>Dịch Vụ</span></div>
      </div>
    </div>
    
  </div> 
  <div class="hex-layer-2">
    <div onclick='window.location.href="/collections/Xe-tai-dau-keo-xe-ben-2"' class="hex fadeDown mx-layer2">
      <div class="hex-inner hex-5">

      <div class="layer-title"><span>Xe tải</span></div>
      </div>
    </div>
    <div onclick='window.location.href="/collections/Lop-xe-tai-xe-khach-11"' class="hex fadeDown mx-layer2">
      <div class="hex-inner hex-2">

      <div class="layer-title"><span>Lốp xe tải - xe khách</span></div>
      </div>
    </div>
  </div>
  <div class="hex-layer-3">
    <div onclick='window.location.href="/collections/Xe-dau-keo-22"' class="hex fadeRight">
      <div class="hex-inner hex-1">

      <div class="layer-title"><span>Xe đầu kéo</span></div>
      </div>
    </div>
    <div style="background-color: #3A5BA0;" onclick='window.location.href="/home"' class="hex main-h mx-layer3">
      <div class="hex-inner main-hex">

      </div>
      {{!-- <div class="layer-title"><span>Xe đầu kéo</span></div> --}}
    </div>
    <div onclick='window.location.href="/service"' class="hex fadeLeft">
      <div class="hex-inner hex-3">

      <div class="layer-title"><span>Dầu nhớt</span></div>
      </div>
    </div>
  </div>
  <div class="hex-layer-2">
    <div onclick='window.location.href="/collections/So-mi-ro-mooc-24"' class="hex fadeUp mx-layer2">
      <div class="hex-inner hex-6">

      <div class="layer-title"><span>Sơ mi rơ móoc</span></div>
      </div>
    </div>
    <div onclick='window.location.href="/collections/Lop-may-cong-trinh-12"' class="hex fadeUp mx-layer2">
      <div class="hex-inner hex-8">

      <div class="layer-title"><span>Lốp công trình</span></div>
      </div>
    </div>
  </div>
  <div class="hex-layer-3">
    <div onclick='window.location.href="/collections/Phu-tung-o-to-3"' class="hex fadeUp">
      <div class="hex-inner hex-4">

      <div class="layer-title"><span>Phụ tùng</span></div>
      </div>
    </div>
    
  </div> 
  <div>
</div>

<div class="loader-wrapper">
  <div class="loader"></div>
  <div class="loader-inner d-flex justified-content-between align-items-center"><img width="100%" src="/img/logo2.png" alt=""></div>
</div>

<script>
  $('.hex-inner').hover(function() {
    $(this).children('.layer-title').animate({height: '0', opacity: '0'}, 'fast')
  },function() {
    $(this).children('.layer-title').animate({height: '100%', opacity: '100%'}, 'fast')
  })
  
</script>

<style>
  @media (max-height: 800px) {
    .mg {
      height: 50px !important;
    }
  }
</style>