<div class="welcome-page">
  <figure style="" class="snip1235 ">
    <img src="/img/lopxe.jpg" alt="sample65"/>
    <i class="ion-ios-home-outline"></i>
    <h3>Lốp xe</h3>
    <a href="/collections/Lop-Advance-Samson-1"></a>
  </figure>
  

  <figure style="" class="snip1235">
    <img src="/img/xedaukeo.png" alt="sample69"/>
    <i class="ion-ios-chatboxes-outline"></i>
    <h3>Xe Đầu kéo</h3>
    <a href="/collections/Xe-tai-dau-keo-xe-ben-2"></a>
  </figure>
  <figure style="" class="snip1235">
    <img src="/img/phutung.png" alt="sample69"/>
    <i class="ion-ios-chatboxes-outline"></i>
    <h3>Phụ tùng</h3>
    <a href="/collections/Phu-tung-o-to-3"></a>
  </figure>
  <figure style="" class="snip1235">
    <img src="/img/somi.png" alt="sample69"/>
    <i class="ion-ios-chatboxes-outline"></i>
    <h3>Sơ mi rơ móoc</h3>
    <a href="/collections/So-mi-ro-mooc-24"></a>
  </figure>
  <figure style="" class="snip1235">
    <img src="/img/news.png" alt="sample69"/>
    <i class="ion-ios-chatboxes-outline"></i>
    <h3>Tin tức - Sự kiện</h3>
    <a href="/news"></a>
  </figure>
  <figure style="" class="snip1235">
    <img src="/img/daunhot.png" alt="sample69"/>
    <i class="ion-ios-chatboxes-outline"></i>
    <h3>Dầu nhớt</h3>
    <a href="/collections/Dau-nhot-4"></a>
  </figure>

  <div style=""
    class="text-center logo-wrap">
    <a href="/home"><img style="margin-top: 25vh;" width="25%" src="/img/logo.png" alt=""></a>
  </div>

  <style>
    .logo-wrap {
        width: 100%;
      height: 100vh;
        display: inline-block; 
        position: absolute;
        z-index: 1;
        top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0,0,0,0.25);
        {{!-- border-radius: 15%; --}}
    }

    .logo-wrap img {
      cursor: pointer;
      
    }

    .logo-wrap img:hover {
      transform: scale(1.05);
    }

    figure.snip1235:nth-child(1) {
      transform: translate(160%, 50%)
    }
    figure.snip1235:nth-child(2) {
      right: 0; transform: translate(-160%, 50%)
    }
    figure.snip1235:nth-child(3) {
      right: 0; bottom: 50%; transform: translate(-100%, 54%)
    }
    figure.snip1235:nth-child(4) {
      left: 0; bottom: 0; transform: translate(160%, -50%)
    }
    figure.snip1235:nth-child(5) {
      left: 0; bottom: 50%; transform: translate(100%, 54%)
    }
    figure.snip1235:nth-child(6) {
      right: 0; bottom: 0; transform: translate(-160%, -50%)
    }

    @media (max-height: 800px) {
      figure.snip1235:nth-child(1) {
        transform: translate(130%, 50%)
      }
      figure.snip1235:nth-child(2) {
        right: 0; transform: translate(-130%, 50%)
      }
      figure.snip1235:nth-child(3) {
        right: 0; bottom: 50%; transform: translate(-80%, 56%)
      }
      figure.snip1235:nth-child(4) {
        left: 0; bottom: 0; transform: translate(130%, -50%)
      }
      figure.snip1235:nth-child(5) {
        left: 0; bottom: 50%; transform: translate(80%, 56%)
      }
      figure.snip1235:nth-child(6) {
        right: 0; bottom: 0; transform: translate(-130%, -50%)
      }
      
      figure.snip1235 img {
        max-width: 100%;
        height: 175px;
        vertical-align: top;
      }

      figure.snip1235 {
         max-width: 240px;
      }

      figure.snip1235:before,
      figure.snip1235:after {
        width: 80px;
        height: 80px;
      }

      .logo-wrap {
        width: 100%;
      }

      .logo-wrap img {
        margin-top: 30vh !important;
        border-radius: 7%;
        margin-left: 3px;
      }

      figure.snip1235:hover h3,
      figure.snip1235.hover h3 {
        
        margin: 30px ;
        font-size: 18px;
      }
    }

  </style>
</div>