<div class="row policy-page">
    <div class="col-md-3">
            <ul style="min-height: 230px" class="text-left product-portfolio sticky mt-4 portfolio-box">
                <li  class="portfolio-menu-head"><i class="fa fa-bars"></i><span>&nbsp; Danh mục chính sách</span></p></li>
                <li id="chinh-sach-giao-hang" class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link" href="/policy/chinh-sach-giao-hang"> Chính sách giao hàng </a></li>
                <li id="chinh-sach-dai-ly" class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link" href="/policy/chinh-sach-dai-ly"> Chính sách đại lý</a></li>
                <li id="chinh-sach-cong-tac-vien" class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link" href="/policy/chinh-sach-cong-tac-vien"> Chính sách cộng tác viên</a></li>
                <li id="chinh-sach-bao-hanh" class="portfolio-menu"><a style="font-family: 'Open Sans' !important;" class="menu-link" href="/policy/chinh-sach-bao-hanh"> Chính sách bảo hành</a></li>
                
            </ul>
        </div>

    
    <div class="col-md-9">
        {{#if data.content}}
        <div class="all-content col-md-12">
            <div class="textTitle text-uppercase">{{title}}</div>
            <br>
            {{{data.content}}}
        </div>
        {{else}}
        <div class="w-100 text-center mt-5"><h5>Đang cập nhật</h5></div>
        {{/if}}

        {{!-- <div class="all-content col-12 d-none">
            <div class="textTitle ">CHÍNH SÁCH GIAO HÀNG  </div>
            <br>
    
            <input type="text" id="chinh-sach-bao-hanh" style="visibility: hidden; height: 0px;" name="" value="hover">
            <p class="csbh-title ">1. Chính sách giao hàng </p><br>
            <p class="csbh-content"> <b><i> Bao gồm  </i></b> <br><br>
              1) Các điều khoản bảo hành này được áp dụng cho xe ô tô Honda mới do công ty Honda Việt Nam cung cấp và được bán tại các đại lý Honda ủy nhiệm và chỉ có giá trị tại Việt Nam. <br>
              2) Công ty Honda Việt Nam chịu trách nghiệm bảo hành cho mỗi chiếc xe mới được bán và giao cho khách hàng mua lẻ về các khiếm khuyết do vật liệu hay sản xuất trong điều kiện sử dụng và bảo dưỡng bình thường trong 3 năm hoặc 100.000 km, tùy vào điều kiện nào đến trước.<br>
                3) Các Đại lý Honda ủy nhiệm sẽ tiến hành sửa chữa hay thay thế miễn phí các phụ tùng được kết luận là có sai hỏng trong thời hạn bảo hành (miễn phí kể cả nhân công và phụ tùng thay thế). Tất cả các phụ tùng sai hỏng được thay thế bằng phụ tùng mới theo điều kiện bảo hành này sẽ trở thành tài sản của Honda Việt Nam.<br>
                4) Các sửa chữa bảo hành phải do đại lý Honda ủy nhiệm thực hiện. Đại lý Honda ủy nhiệm sẽ tiến hành dịch vụ bảo dưỡng theo yêu cầu của chủ xe và chủ xe phải trả cho các chi phí phat sinh.<br>
                5) Chuyển bảo hành: Các chủ xe đăng ký tiếp theo sau có thể được hưởng những quyền lợi của các phần bảo hành chưa hết hạn bằng cách thông báo cho đại lý Honda ủy nhiệm.<br>
                6) Honda Việt Nam bảo lưu quyền tiến hành bất cứ một thay đổi nào về thiết kế khi thấy cần thiết mà không cần thông báo.<br>
                7) Ắc-quy: Thời gian bảo hành bình ắc-quy là 12 tháng hoặc 20.000kmk tùy theo điều kiện nào đến trước.<br>
                <span style="text-decoration:underline"> <b> Ghi chú:</b></span>   <b><i> Bên cạnh các nội dung tại đây, Honda Việt Nam sẽ thực hiện các công việc thuộc phạm vi trách nghiệm bảo hành phù hợp với pháp luật hiện hành. </i></b>
            </p>

    
            <br><br>
            <p id="mot-so-truong-hop-khong-bao-hanh" class="csbh-title  ">2. Một số trường hợp không nằm trong bảo hành  </p><br>
            <p class="csbh-content"> <b><i> Điều khoản bảo hành sẽ không được áp dụng cho:  </i></b> <br><br>
                1)&nbsp;&nbsp;&nbsp;Bất cứ hư hỏng nào xảy ra do việc không tiến hành bảo dưỡng định kỳ như chỉ dẫn của Honda Việt Nam. <br>
                2)&nbsp;&nbsp;&nbsp;Bất cứ một hư hỏng nào xảy ra do việc sửa chữa hay bảo dưỡng không tuân theo các phương pháp như chỉ dẫn của Honda Việt Nam và bất cứ những hư hỏng nào là nguyên nhân của việc sửa chữa điều chỉnh không phải do Đại lý Honda ủy nhiệm tiến hành. <br>
                3)&nbsp;&nbsp;&nbsp;Bất cứ một hư hỏng nào xảy ra do xe làm việc quá tải như đua xe tốc độ, đua xe đường trường hay lái xe trên địa hình không phù hợp.<br>
                4)&nbsp;&nbsp;&nbsp;Bất cứ một hư hỏng nào do việc chạy xe ở những khu vực mà không một chiếc xe ô tô cùng loại nào có thể vận hành một cách bình thường. <br>
                5)&nbsp;&nbsp;&nbsp;Bất cứ một hư hỏng nào xảy ra do việc vận hành xe không theo các phương pháp được chỉ ra tỏng sách hướng dẫn sử dụng hay vượt quá giới hạn quy định (tải trọng tối đa, số lượng hành khách, tốc độ động cơ và các đặc điểm khác).  <br>
                6)&nbsp;&nbsp;&nbsp;Bất cứ một hư hỏng nào xảy ra do việc sử dụng các phụ tùng, các loại dầu và chất lỏng hay các phụ kiện không chính hiệu do Honda Việt Nam chỉ định. Theo quy định, các sản phẩm của Honda Việt Nam phải được đảm bảo sử dụng các phụ tùng do Honda Việt Nam chỉ định bất kể là xe còn trong thời hạn bảo hành hay không. Việc sử dụng các phụ tùng, các loại
                dầu và chất lỏng hay các phụ kiện không chính hiệu có thể làm giảm khả năng hoạt động và độ tin cậy của xe. Honda Việt Nam sẽ không chịu trách nghiệm về những chi phí có liên quan đến các phụ tùng bị hư hỏng do việc sử dụng các nhiên liệu, các chất bôi trơn hay các chất lỏng (dầu,dầu phanh, nước làm mát và các loại khác) không chính hiệu. <br>
                7)&nbsp;&nbsp;&nbsp;Bất cứ hư hỏng nào xảy ra do những sửa đổi mà không được Honda Việt Nam phê duyệt (sửa đổi về hiệu suất hoạt động xe, thay đổi đèn, mở rộng xe và những thay đổi khác). <br>
                8)&nbsp;&nbsp;&nbsp;Các hiện tượng như tiếng ồn, độ rung. rò rỉ dầu và các hệ cảm biến mà không ảnh hưởng tới chất lượng sản phảm, chức năng hay hiệu suất làm việc của xe. <br>
                9)&nbsp;&nbsp;&nbsp;Bất cứ hư hỏng nào xảy ra do việc bảo quản xe hay vận hành xe không đúng cách.<br>
                10)&nbsp;Các phụ tùng thay thế do hao mòn tự nhên, khách hàng phải tự thanh toán, Honda Việt Nam sẽ không bảo hành các phụ tùng bị mòn do sự ăn mòn tự nhiên. Các phụ tùng được liệt kê dưới đây được coi là không thuộc trách nghiệm bảo hành: <br>
                &nbsp;&nbsp;&nbsp;&nbsp; +)&nbsp;Bu-gi, các bộ lọc nhiện liệu, các bộ lọc dầu, các bộ lọc gió, má phanh, đĩa ly hợp, đèn, cầu chì, chổi than, cần gạt nước, kính, dây an toàn, lốp xe và các bộ phận bằng cao su khác.<br>
                &nbsp;&nbsp;&nbsp; &nbsp; +)&nbsp;Dầu, mỡ, dung dịch điện phân cho ắc-quy, nước làm mát bộ phận tản nhiệt, các phụ tùng làm bằng da, lôgô chữ H, đệm ghế ngồi.<br>
                11)&nbsp;Làm sạch, kiểm tra và điều chỉnh các hạng mục bảo dưỡng định kỳ khác. Các chi phí phát sinh do việc kiểm tra định kỳ xe ôtô do đại lý thực hiện sẽ không nằm trong trách nghiệm bảo hành của Honda Việt Nam. <br>
                12)&nbsp;Bất cứ một khoản chi phí nào để khắc phục hẩu quả của việc sửa chữa bảo dưỡng không đúng đã được thực hiện trước đó. Chi phí sửa chữa này sẽ do đại lý Honda ủy nhiệm- nơi tiến hành công việc sửa chữa sai trước đó- chi trả, kể cả thời gian bảo hành đã hết. Khách hàng sẽ không phải trả tiền cho những công việc này.&ZeroWidthSpace; <br>
                13)&nbsp;Phụ phí liên quan đến bảo hành mà khách hàng phải trả khi thực hiện dịch vụ ngoài phạm vi bảo hành, chính sách đặc biệt hay các chiến dịch điều chỉnh bao gồm nhưng không hạn chế trong các chi phí sau: Phụ phí cho việc liên lạc, ở trọ, ăn uống và các mục khác do xe hỏng tại một địa điểm cách xa đại lý.&ZeroWidthSpace;&ZeroWidthSpace; <br>
                14)&nbsp;&ZeroWidthSpace;Bất cứ hư hỏng nào gây ra bởi các thảm họa tự nhiên, cháy nổ, va chạm, trộm cắp và hư hỏng xảy ra sau đó do hậu quả của các sự kiện này.&ZeroWidthSpace; <br>
                15)&nbsp;&ZeroWidthSpace;Bất cứ hư hỏng nào gây ra bởi khói, các chất hóa học, phân chim, nước biển, gió biển, muối, mưa axit hay các hiện tượng hư hỏng khác. Những hư hỏng do ngoại cảnh và môi trường nằm ngoài tầm kiểm soát của Honda Việt Nam sẽ không được bảo hành.&ZeroWidthSpace; <br>
        </div> --}}
    </div>
    
</div>
<div class="slug-box d-none">{{slug}}</div>
<script>
    $(document).ready(function() {
        const slug = $('.slug-box').text();
        $('ul.product-portfolio').children(`#${slug}`).children().css({'color': 'crimson'});
    })
</script>