{{!-- Body: start --}}
<div class="container">
    <div class="product-manager-header">
        <div class="row pagi">
            <span class="sub-title">Quản lý sản phẩm</span>
            <img class="bgc-title" src="/img/title.png" alt="">
        </div>
    </div>
    <div class="product-manager-body">
        <form action="" class="find-product-form">
            <div class="form-group">
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="">Chọn loại sản phẩm</option>
                        <optgroup label="Lốp Advance / Samson">
                            <option value="111">Lốp máy công trình: Lốp xe tải hạng nặng</option>
                            <option value="112">Lốp máy công trình: Lốp máy súc</option>
                            <option value="113">Lốp máy công trình: Lốp xe cẩu</option>
                            <option value="114">Lốp máy công trình: Lốp xe lu</option>
                            <option value="121">Lốp máy công nghiệp: Lốp đặc</option>
                            <option value="122">Lốp máy công nghiệp: Lốp công nghiệp khí nén</option>
                            <option value="123">Lốp máy nông nghiệp: Lốp nông nghiệp nhỏ</option>
                            <option value="124">Lốp máy nông nghiệp: Lốp nông nghiệp lớn</option>
                        </optgroup>
                        <optgroup label="Xe tải / Đầu kéo / Xe ben">
                            <option value="210">Xe tải thùng</option>
                            <option value="220">Xe đầu kéo</option>
                            <option value="230">Xe ben</option>
                            <option value="240">Sơ mi rơ móc</option>
                        </optgroup>
                        <optgroup label="Phụ tùng ô tô">
                            <option value="310">Xe tải thùng</option>
                            <option value="320">Xe đầu kéo</option>
                            <option value="330">Xe ben</option>
                            <option value="340">Sơ mi rơ móc</option>
                        </optgroup>
                        <optgroup label="Dầu nhớt">
                            <option value="411">Dầu nhớt ô tô / xe máy: Dầu động cơ</option>
                            <option value="412">Dầu nhớt ô tô / xe máy: Dầu hộp số</option>
                            <option value="413">Dầu nhớt ô tô / xe máy: Dầu láp</option>
                            <option value="421">Dầu nhớt công nghiêp: Dầu đa năng</option>
                            <option value="422">Dầu nhớt công nghiêp: Dầu bôi trơn</option>
                            <option value="423">Dầu nhớt công nghiêp: Dầu thủy lực</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="">Thương hiệu</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="">Xuất xứ</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option value="">Xuất xứ</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">
                    <button class="form-control">Tìm kiếm</button>
                </div>
            </div>


        </form>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tên hàng hóa</th>
                    <th scope="col">Model</th>
                    <th scope="col">Mã</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Định mức giá</th>
                    <th scope="col">Tồn</th>
                    <th scope="col">Kiểu hàng hóa</th>
                    <th scope="col">Lưu ý</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td ><img src="/img/bo1.jpg" alt=""></td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="8">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{{!-- Body: end --}}